$theme: #3A478F;
$offwhite: #F2F5FA;

.button{
    background-color:$theme;
    color:white;
    font-weight:bold;
    border-radius:3px;
    padding:18px;
    transition:all 0.3s;
    text-align:center;
    border:0;

    &:hover 
    {
        background-color:black;
        color:white;
        transition: all 0.3s;
    }

}

html,body{height:100%;}

html{scroll-behavior: smooth;}

a{padding:0;margin:0;border:0;}

h1,h2,h3,h4,h5,h6{font-family:'Poppins', sans-serif; font-weight:bold;color:$theme;}

h1,h2{font-size:50px;}

p{font-weight:500;font-size:22px;font-family: 'Roboto', sans-serif;margin-top:20px;}

#header
{
    height:70px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:0 20px;
    z-index:5;


    nav
    {
        height:inherit;

        ul
        {
            padding:0;
            height:inherit;
            
            &.align-right{text-align: right;}

            &.logo 
            {
                li
                {
                    margin-left:0;
                    img{margin-right:10px;}
                }

            }

            li
            {
                line-height: 70px;
                height:70px;
                font-weight:bold;
                margin-left:35px;

                list-style-type: none;
                display:inline-block;

                a 
                {
                    color:black;
                    transition: all 0.3s;
                    
                    &:hover
                    {
                        color:$theme;
                        transition: all 0.3s;
                    }

                    &.button 
                    {
                        color:white;
                        height:30px;
                        line-height: 30px;
                        padding:0;
                        width:100px;
                        margin-top:20px;
                        border-radius:3px
                    }
                }

                

                img{height:32px;width:32px;}

            }
        }
    }
}


#hero
{
    height:100%;
    padding:80px 20px 60px 20px;

    .grid-container,.grid-x{height:100%;}

    .cell.large-6 
    {
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
    }

    .illustration
    {
        background: url("../images/achieve.png");
        background-position:center;
        background-size:450px;
        background-repeat:no-repeat;
    }
}


#about
{
    padding:80px 20px;
    background-color:$offwhite;

    img 
    {
        display:block;
        margin:auto;
        animation: rotate 30s infinite;
    }

    @keyframes rotate {
        0%{
            transform:rotateY(0deg);
        }

        100%{
            transform: rotateY(3600deg);
        }
    }
}

#how-it-works
{
    background-color:$offwhite;
    padding:80px 20px;


    .how-to-card
    {
        height:250px;
        border-radius:20px;
        text-align:center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-top:40px;


        &.highlight
        {
            background: #FFFFFF;
            box-shadow: 0px 0px 5px rgba(58, 71, 143, 0.09);
        }

        img 
        {
            width:80px;height:80px;
            margin:0 auto;
        }

        h3{font-size:22px;padding:0 20px;}
    }
}


#register
{
    padding:80px 20px;

    .bg-image
    {
        background-repeat:no-repeat;
        background-position:center;
        background-size:320px;
        margin:20px auto;
        height:300px;

        &.student
        {
            background-image:url("../images/student-girl.png")
        }

        &.mentor
        {
            background-image:url("../images/mentor.png")
        }

        &.investor
        {
            background-image:url("../images/investor.png")
        }

    }

    .button 
    {
        margin:auto;
        display:block;
        width:200px;
    }
}

#moto
{
    padding:80px 0;
    height:100%;

    .grid-x,.grid-container,.cell
    {
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }

    .cell.illustration
    {
        background-image:url("../images/student.png");
        background-size:600px;
        background-position:center;
        background-repeat:no-repeat;
    }

    h2{color:black;}
}


footer
{
    height:200px;
    text-align:center;
    line-height:200px;
    background-color:$theme;
    color:white;
    font-weight:bold;
}



#form
{
    padding:80px 20px;

    form 
    {
        input,select
        {
            background-color:$offwhite;
            color:black;
            margin:20px 0;
            border-radius:5px;
            border:0;

            &:focus, &:hover, &:visited 
            {
            border:0;
            }

            &.button
            {   background-color:$theme;color:white;
                transition:all 0.3s;
            
                 &:hover
                {
                    background-color:black;
                    transition:all 0.3s;
                }
            }

        }
    }
}